# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.in
.DS_Store
disk0
disk1

testcases
testResults
usloss
phase1.h
phase2.h
phase3.h
phase4.h
providedPrototypes.h
usloss.h
usyscall.h
testphase5.ksh
Makefile
libuser.c
libuser.h
mmu.h